[1] 모듈 로딩 및 데이터 준비 <hr>

In [58]:
## [1-1] 모듈 로딩

import pandas as pd

In [59]:
# [1-2] 데이터 준비

data1 = [['철수','영희'],[80,90],['대구','부산']]

data2 ={'국어':[90,80,70],'과학':[100,90,80]}

data3= '../DATA/member.csv'

[2] DataFrame 생성 및 활용 <hr>

In [60]:
# [2-1] DataFrame 생성
# - df1 => 데이터: data1, 인덱스 : 'one','two','three', 컬럼즈:'사람1', '사람2'

df1 = pd.DataFrame(data1, index=['one','two','three'], columns=['사람1','사람2'])

# - df2 => 데이터: data2

df2 = pd.DataFrame(data2)

# - df3 => 데이터: data3

df3 = pd.read_csv(data3)

In [61]:
# [2-2] DataFrame 속성 사용 : index, columns, shape, values, dtypes
# --> df1 속성

print(f'index {df1.index}')
print(f'columns {df1.columns}')
print(f'shape {df1.shape}')
print(f'values {df1.values}')
print(f'dtypes {df1.dtypes}')

index Index(['one', 'two', 'three'], dtype='object')
columns Index(['사람1', '사람2'], dtype='object')
shape (3, 2)
values [['철수' '영희']
 [80 90]
 ['대구' '부산']]
dtypes 사람1    object
사람2    object
dtype: object

In [62]:
# ==> df2 속성출력
print(f'index {df2.index}')
print(f'columns {df2.columns}')
print(f'shape {df2.shape}')
print(f'values {df2.values}')
print(f'dtypes {df2.dtypes}')

index RangeIndex(start=0, stop=3, step=1)
columns Index(['국어', '과학'], dtype='object')
shape (3, 2)
values [[ 90 100]
 [ 80  90]
 [ 70  80]]
dtypes 국어    int64
과학    int64
dtype: object

In [63]:
print(f'index {df3.index}')
print(f'columns {df3.columns}')
print(f'shape {df3.shape}')
print(f'values {df3.values}')
print(f'dtypes {df3.dtypes}')

index RangeIndex(start=0, stop=7, step=1)
columns Index(['번호', '이름', '나이', '지역'], dtype='object')
shape (7, 4)
values [[1 '홍길동' 20 '대구']
 [2 '이나영' 12 '서울']
 [3 '최희진' 22 '마산']
 [4 '마징가' 31 '부산']
 [5 '박지민' 17 '대구']
 [6 '김나나' 25 '서울']
 [7 '박서희' 33 '광주']]
dtypes 번호     int64
이름    object
나이     int64
지역    object
dtype: object

In [64]:
# ==> df1 속성 변겅
# 현재 index속성 'one', 'two', 'three' ==> '첫번쨰','두번째', '세번째'
df1.index = ['첫번째','두번째','세번째']

df1

    사람1 사람2
첫번째  철수  영희
두번째  80  90
세번째  대구  부산

In [65]:
# 현재 index 속성의 값의 개수와 새로운 값의 갯수가 동일해야함 !
# df1.index = ['첫번째','두번째'] ## ERROR

# 현재 index 속성의 값의 일부분만 변경시 메서드 사용 ==> rename()
# '첫번째' => 'first', '두번째' => 'second'로변경

df1.rename({'첫번째':'first', '두번째':'second'},inplace=True)

In [66]:
# 컬럼명 '사람1' ==> 'Person1'로 변경

# df1.columns=['Person1'] ## 갯수가 달라서 ERROR

df1.rename(columns={'사람1':'Person1'})
#df1.rename({'사람1':'Person1'}, axis=1)
df1.rename({'사람1':'Person1'}, axis='columns', inplace=True)

In [67]:
# 인덱스 '세번째' ==> '333'으로 변경

df1.rename({'세번째':'333'}, inplace=True)

In [68]:
df1

       Person1 사람2
first       철수  영희
second      80  90
333         대구  부산

In [69]:
# 변경이 안되는 속성들 
# shape 속성 : 실제 데이터의 행과 열 정보를 Pandas가 저장해서! 변경 불가 X
# df1.shape = (5,9)

# - values 속성 : 실제 데이터 저장 =>  values 속성으로 변경 불가 X
# df1.values = [[1,2], [90,90],['미국','서울']]

In [70]:
# df1 의 모든 원소를 화면에 한줄에 한개씩 출력하기 -------------------------------

df1

       Person1 사람2
first       철수  영희
second      80  90
333         대구  부산

In [71]:
# [2-3] 컬럼/행/요소 선택
# - 2-3-1 : 컬럼 선택
#       df변수명[ 컬럼명 ] , df변수명,컬럼명
#  df1 컬럼 정보 출력

df1.columns

Index(['Person1', '사람2'], dtype='object')

In [72]:
#df1 사람2 컬럼의 데이터만 가져오기

df1['사람2']

first     영희
second    90
333       부산
Name: 사람2, dtype: object

In [73]:
df1['Person1']

first     철수
second    80
333       대구
Name: Person1, dtype: object

In [74]:
df1.사람2

first     영희
second    90
333       부산
Name: 사람2, dtype: object

In [75]:
df1.Person1

first     철수
second    80
333       대구
Name: Person1, dtype: object

In [78]:
# df4 숫자 컬럼의 데이터만 가져오기 
df4 = df2.T
# df4.0 숫자는 안됨 문자만 됨
df4[0]

국어     90
과학    100
Name: 0, dtype: int64

In [83]:
# -2-3-2: 행선택
#           df변수명.loc[행번호 또는 행이름]  , df변수명.iloc[행번호]

print(df1.index)

# -'second' 행 데이터를 가져오기

df1.loc['second']

Index(['first', 'second', '333'], dtype='object')

Person1    80
사람2        90
Name: second, dtype: object

In [85]:
# -2-3-3: 원소 선택
#       df변수명.loc[행번호 또는 행이름, 열], df변수명.iloc[행번호,열번호]
df1.loc['second','사람2']

90

In [86]:
df1.iloc[[1,1]]

       Person1 사람2
second      80  90
second      80  90