[다양한 형식으로 데이터 저장]

[1] 모듈로딩 및 데이터 준비 <hr>

In [30]:
## [1-1] 모듈로딩 
import pandas as pd     # 데이터 분석 및 전처리 관련 모듈
import numpy as np      #NaN/NAN/nan 즉, 빈칸 표시 관련 모듈

In [31]:
#[1-2] 데이터 준비

data = {'name': ['Raphael', 'Donatello'],
                    'mask': ['red', 'purple'],
                    'weapon': ['sai', 'bo staff']}
# df.to_csv('out.csv', index=False)

[2] 데이터 생성 <hr>

In [32]:
# DataFrame 으로 생성

dataDF = pd.DataFrame(data, index=['one','two'])
dataDF

          name    mask    weapon
one    Raphael     red       sai
two  Donatello  purple  bo staff

In [33]:
# - Series로 생성

dataSR1 = pd.Series(['Raphael', 'Donatello'])
dataSR1 

dataSR2 = dataDF['mask']
print(type(dataSR2))

<class 'pandas.core.series.Series'>

[3] 파일로 저장하기 <hr>

In [34]:
# -CSV 파일로 저장
# - 절대경로 :  C:\~~~~ , D:\~~~~   Window경우 드라이브 부터 전체 경로 
# - 상대경로 : 현재 파일 기준 으로 경로 설정 
#               . : 현재 위치           예) ./ 파일명
#               ..: 현재 바로 위        예) ../ 파일명

# 
FILE_CSV_R = './data1.csv'
FILE_CSV_R2 = '../data2.csv'
FILE_CSV_R3 = r'C:\Users\KDT17\Desktop\KDT_7\02.PANDAS\D0121\data3.csv'

In [35]:
# DataFrme => CSV 저장

# -행 인덱스 라벨 설정 => index_label 매개변수
dataDF.to_csv(FILE_CSV_R, index_label="No")

# - 데이터 구분자 변경 => sep 매개변수 [기] 쉼표(,)
dataDF.to_csv(FILE_CSV_R3, sep=':')


# -DataFrame 의 인덱스 저장하지 않기 설정 => index 매개변수 =False 
#               컬럼명 저장하지 않기 설정 => header 매개변수 = False
#               파일 쓰기 모드 설정     
#                       mode 매개변수
#                       => "w" : 파일 존재 시 내용 지우고 쓰기
#                       => "a" : 파일 존재 시 내용 끝에 추가해서 쓰기
dataDF.to_csv(FILE_CSV_R2, index=False, header=False, mode='a')

In [36]:
# -Serise => CSV 파일로 저장

dataSR1.to_csv(FILE_CSV_R3, index_label="No")
dataSR1.to_csv(FILE_CSV_R3, index=False, header=False)

In [37]:
# DataFrame => JSON 저장
FILE_JSON = './data1.json'

dataDF.to_json(FILE_JSON)

In [38]:
# JSON => DataFrame 로딩
JsonDF = pd.read_json(FILE_JSON)
JsonDF

          name    mask    weapon
one    Raphael     red       sai
two  Donatello  purple  bo staff

In [39]:
# DataFrame => EXCEL 저장
# %pip install openpyxl
FILE_EXCEL = './data1.xlsx'

dataDF.to_excel(FILE_EXCEL,index_label="No" , header=False)

In [40]:
# pip 관련
# python -m pip install --upgrade pip
#

In [41]:
# 파일의 첫번째 줄 => [기본] 컬럼으로 설정
#                 => 컬럼명이 아닌 경우 => header 매개변수 None
excelDF = pd.read_excel(FILE_EXCEL, header=None)
excelDF

     0          1       2         3
0  one    Raphael     red       sai
1  two  Donatello  purple  bo staff