[ DataFrame 에서 행 다루기]

[1] 모듈 로딩 및 데이터 준비 <hr>

In [265]:
## [1-1] 모듈 로딩
import pandas as pd

In [266]:
## [1-2] 데이터 준비
FILNAME = '../DATA/iris.csv'

[2] 데이터로딩 및 확인 <hr>

In [267]:
## [2-1] CSV => DAtaFrame 가져오기
irisDF=pd.read_csv(FILNAME)

In [268]:
# [2-2] 데이터 확인하기
# - 요약 정보 확인 : DF변수명.info()
irisDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [269]:
## -실제 DF에 존재하는 데이터 확인 : DF변수명.head() [기본:5행]
irisDF.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [270]:
## -실제 DF에 존재하는 데이터 확인 : DF변수명.tail() [기본:5행]
irisDF.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [271]:
# - 컬럼명 통계치 정보 출력 :  DF변수명.describe(include='all')

irisDF.describe(include="all")

        sepal.length  sepal.width  petal.length  petal.width variety
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  Setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

[3] 행 과 컬럼 데이터 선택/추출<hr>

In [272]:
# [3-1] 행 선택
# -1 행 선택 => DF변수명.iloc[행인덱스], DF변수명.loc[행인덱스]

print(irisDF.iloc[-1], irisDF.iloc[149], sep="\n\n")

sepal.length          5.9
sepal.width           3.0
petal.length          5.1
petal.width           1.8
variety         Virginica
Name: 149, dtype: object

sepal.length          5.9
sepal.width           3.0
petal.length          5.1
petal.width           1.8
variety         Virginica
Name: 149, dtype: object

In [273]:

print(type(irisDF.iloc[-1]), type(irisDF.iloc[149]), sep="\n\n")

<class 'pandas.core.series.Series'>

<class 'pandas.core.series.Series'>

In [274]:
# -2 행 선택 => DF변수명.iloc[행인덱스1, 행인덱스2],
#              DF변수명.loc[행인덱스1, 행인덱스2]


print(type(irisDF.iloc[[0,-1]]))

irisDF.iloc[[0,-1]]

<class 'pandas.core.frame.DataFrame'>

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
149           5.9          3.0           5.1          1.8  Virginica

In [275]:
# - 짝수 행 인덱스 데이터만 선택 : DF변수명.iloc[ 시작행 인덱스: 끝행인덱스 : 간격]
irisDF.iloc[::2]

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
6             4.6          3.4           1.4          0.3     Setosa
8             4.4          2.9           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
140           6.7          3.1           5.6          2.4  Virginica
142           5.8          2.7           5.1          1.9  Virginica
144           6.7          3.3           5.7          2.5  Virginica
146           6.3          2.5           5.0          1.9  Virginica
148           6.2          3.4           5.4          2.3  Virginica

[75 rows x 5 columns]

In [276]:
# [3-2] 행 인덱스 변경
# 0, 1,......., 149 => 0번째, 1번째,.....,149번째

new_index=[]
for idx in range(len(irisDF)):
    new_index.append(f'{idx}번째')


print(new_index)

# 리스트 컴프리헨션

new_index2 = [f'{idx}번째' for idx in range(len(irisDF))]
print(new_index2)

['0번째', '1번째', '2번째', '3번째', '4번째', '5번째', '6번째', '7번째', '8번째', '9번째', '10번째', '11번째', '12번째', '13번째', '14번째', '15번째', '16번째', '17번째', '18번째', '19번째', '20번째', '21번째', '22번째', '23번째', '24번째', '25번째', '26번째', '27번째', '28번째', '29번째', '30번째', '31번째', '32번째', '33번째', '34번째', '35번째', '36번째', '37번째', '38번째', '39번째', '40번째', '41번째', '42번째', '43번째', '44번째', '45번째', '46번째', '47번째', '48번째', '49번째', '50번째', '51번째', '52번째', '53번째', '54번째', '55번째', '56번째', '57번째', '58번째', '59번째', '60번째', '61번째', '62번째', '63번째', '64번째', '65번째', '66번째', '67번째', '68번째', '69번째', '70번째', '71번째', '72번째', '73번째', '74번째', '75번째', '76번째', '77번째', '78번째', '79번째', '80번째', '81번째', '82번째', '83번째', '84번째', '85번째', '86번째', '87번째', '88번째', '89번째', '90번째', '91번째', '92번째', '93번째', '94번째', '95번째', '96번째', '97번째', '98번째', '99번째', '100번째', '101번째', '102번째', '103번째', '104번째', '105번째', '106번째', '107번째', '108번째', '109번째', '110번째', '111번째', '112번째', '113번째', '114번째', '115번째', '116번째', '117번째', '118번째', '119번째', '120번째', '121번째', '122번째', '123번째', '124번째', '125번째', '126번째', '127번째', '128번째', '129번째', '130번째', '131번째', '132번째', '133번째', '134번째', '135번째', '136번째', '137번째', '138번째', '139번째', '140번째', '141번째', '142번째', '143번째', '144번째', '145번째', '146번째', '147번째', '148번째', '149번째']
['0번째', '1번째', '2번째', '3번째', '4번째', '5번째', '6번째', '7번째', '8번째', '9번째', '10번째', '11번째', '12번째', '13번째', '14번째', '15번째', '16번째', '17번째', '18번째', '19번째', '20번째', '21번째', '22번째', '23번째', '24번째', '25번째', '26번째', '27번째', '28번째', '29번째', '30번째', '31번째', '32번째', '33번째', '34번째', '35번째', '36번째', '37번째', '38번째', '39번째', '40번째', '41번째', '42번째', '43번째', '44번째', '45번째', '46번째', '47번째', '48번째', '49번째', '50번째', '51번째', '52번째', '53번째', '54번째', '55번째', '56번째', '57번째', '58번째', '59번째', '60번째', '61번째', '62번째', '63번째', '64번째', '65번째', '66번째', '67번째', '68번째', '69번째', '70번째', '71번째', '72번째', '73번째', '74번째', '75번째', '76번째', '77번째', '78번째', '79번째', '80번째', '81번째', '82번째', '83번째', '84번째', '85번째', '86번째', '87번째', '88번째', '89번째', '90번째', '91번째', '92번째', '93번째', '94번째', '95번째', '96번째', '97번째', '98번째', '99번째', '100번째', '101번째', '102번째', '103번째', '104번째', '105번째', '106번째', '107번째', '108번째', '109번째', '110번째', '111번째', '112번째', '113번째', '114번째', '115번째', '116번째', '117번째', '118번째', '119번째', '120번째', '121번째', '122번째', '123번째', '124번째', '125번째', '126번째', '127번째', '128번째', '129번째', '130번째', '131번째', '132번째', '133번째', '134번째', '135번째', '136번째', '137번째', '138번째', '139번째', '140번째', '141번째', '142번째', '143번째', '144번째', '145번째', '146번째', '147번째', '148번째', '149번째']

In [277]:
# => 인덱스 변경 : DF객체변수명.index = 새로운 인덱스 리스트
irisDF.index = new_index

# -> 확인 인덱스 속성 읽기

irisDF.index

Index(['0번째', '1번째', '2번째', '3번째', '4번째', '5번째', '6번째', '7번째', '8번째', '9번째',
       ...
       '140번째', '141번째', '142번째', '143번째', '144번째', '145번째', '146번째', '147번째',
       '148번째', '149번째'],
      dtype='object', length=150)

In [278]:
# [3-3] 행 선택 => DF객체변수명.loc[]
# DF객체변수명.loc[] # ==> ERROR

print(irisDF.loc["1번째"], irisDF.iloc[1], sep="\n\n")

sepal.length       4.9
sepal.width        3.0
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 1번째, dtype: object

sepal.length       4.9
sepal.width        3.0
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 1번째, dtype: object

[4] 열 선택/추출 <hr>

In [279]:
# [4-1] 1개 열/컬럼 선택 => DF객체변수명[컬럼명]
#                          DF객체변수명.컬럼명

irisDF.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [280]:
#'sepal.length' 컬럼만 선택
irisDF['sepal.length']

0번째      5.1
1번째      4.9
2번째      4.7
3번째      4.6
4번째      5.0
        ...
145번째    6.7
146번째    6.3
147번째    6.5
148번째    6.2
149번째    5.9
Name: sepal.length, Length: 150, dtype: float64

In [281]:
print(type(irisDF['sepal.length']))

<class 'pandas.core.series.Series'>

In [282]:
# 컬럼명 변경 : 'sepal.length' => 'sepal_length'  '.' 을 '_' 로 변경

# 방법1 rename 

# -rename(columns={이전:새것,...})

# irisDF.rename(columns={'sepal.length':'sepal_length' ,
#                        'sepal.width' :'sepal_width' ,
#                        'petal.length':'petal_length' ,
#                        'petal.width' :'petal_width'} , inplace=True)

# irisDF.columns = irisDF.columns.str.replace('.', '_', regex=False)

In [244]:
# irisDF.columns
# # new_columns = []

# # for col in irisDF.columns:
# #     print(col, type(col), col.replace('.',"_"))
# #     new_columns.append(col.replace('.',"_"))

# new_columns = []
# irisDF.columns= new_columns

# print(irisDF.columns)

sepal_length <class 'str'> sepal_length
sepal_width <class 'str'> sepal_width
petal_length <class 'str'> petal_length
petal_width <class 'str'> petal_width
variety <class 'str'> variety

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'variety'],
      dtype='object')

In [287]:
# 리스트컴프헨션
irisDF.columns =[col.replace(',','_') for col in irisDF.columns]
print(irisDF.columns)

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [285]:
# [4-2] 1개 열/컬럼 선택 => DF객체변수명[컬럼명1, 컬럼명2]

In [286]:
# [4-3] 여러개 컬럼 지정 => DF객체변수명.loc[:,컬럼명1:컬럼명n]

irisDF.loc[:,'sepal_length':'petal_width']

KeyError: 'sepal_length'