In [75]:
import pandas as pd

s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [76]:
s = pd.Series(data=['Wes Mckinney', 'Creator of Pandas'], index=['Person','who'])

print(s)

Person         Wes Mckinney
who       Creator of Pandas
dtype: object

[3-1]   데이터 프레임 만들기 <hr>

In [77]:
scientists = pd.DataFrame({
    "Name": ["Rosaline Franklin","William Gosset"],
    "Occupation":["Chemist","Statisician"],
    "Born":["1920-07-25","1876-06-13"],
    "Died":["1958-04-16","1937-10-16"],
    "Age":[37,61]
})

print(scientists)

                Name   Occupation        Born        Died  Age
0  Rosaline Franklin      Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statisician  1876-06-13  1937-10-16   61

In [78]:
scientists = pd.DataFrame(
    data={
   
    "Occupation":["Chemist","Statisician"],
    "Born":["1920-07-25","1876-06-13"],
    "Died":["1958-04-16","1937-10-16"],
    "Age":[37,61]
}, 
index=["Rosaline Franklin", "William Gosset"],
columns= ["Occupation","Born","Died","Age"],
)


print(scientists)

                    Occupation        Born        Died  Age
Rosaline Franklin      Chemist  1920-07-25  1958-04-16   37
William Gosset     Statisician  1876-06-13  1937-10-16   61

[3-2]   시리즈 다루기 <hr>

In [79]:
first_row = scientists.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [80]:
print(first_row)

Occupation    Statisician
Born           1876-06-13
Died           1937-10-16
Age                    61
Name: William Gosset, dtype: object

In [81]:
print(first_row.index)
print(first_row.values)
print(first_row.keys())
print(first_row.index[0])

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
['Statisician' '1876-06-13' '1937-10-16' np.int64(61)]
Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
Occupation

In [82]:
print(first_row.keys()[0])

Occupation

시리즈의 메서드 사용하기 <hr>

In [83]:
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [84]:
# 평균
print(ages.mean())
# 최솟값
print(ages.min())
# 최댓값
print(ages.max())
# 표준 편차
print(ages.std())

49.0
37
61
16.97056274847714

시리즈와 불리언 <hr>

In [85]:
scientists = pd.read_csv("../책실습/do_it_pandas-main/data/scientists.csv")

In [86]:
ages =scientists["Age"]
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [87]:
print(ages.describe())

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [88]:
print(ages.mean())

59.125

In [89]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [90]:
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [91]:
print(type(ages > ages.mean()))

<class 'pandas.core.series.Series'>

In [92]:
manual_bool_values = [
    True,
    True,
    False,
    False,
    True,
    True,
    False,
    True,


]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [93]:
print(ages + ages)
print(ages*ages)
print(ages +100)
print(ages*2)
print(ages+pd.Series([1,100]))

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64
0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [94]:
# import numpy as np

# print(ages + np.array([1,100]))


rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

print(ages*2)

print(ages + rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64