[DataFrame 에 인덱스기준 정렬]

[1] 모듈 로딩 및 데이터준비 <hr>

In [57]:
# [1-1] 모듈 로딩

import pandas as pd                 # 데이터 분석용 모듈
import numpy as np                  # NaN 빈칸 의미 상수 사용 위해서

In [58]:
dict_data = {'c5':[11,12,13],
             'c1':[40,50,60],
             'c3':[75,85,95],
             'c0':[523,553,321],
             'c2':[132,142,152]}

dictFD1 = pd.DataFrame(dict_data)

[2] 데이터 로딩 및 확인 <hr>

In [59]:
dictFD1 = pd.DataFrame(dict_data, index=['r05','r01','r02'])
dictFD1

     c5  c1  c3   c0   c2
r05  11  40  75  523  132
r01  12  50  85  553  142
r02  13  60  95  321  152

[3] 정렬 - 인덱스 기준  <hr>

In [60]:
# [3-1] 인덱스 기준으로 오름차순 정렬 
#  

dictFD2 = dictFD1.sort_index()
print(dictFD2)

     c5  c1  c3   c0   c2
r01  12  50  85  553  142
r02  13  60  95  321  152
r05  11  40  75  523  132

In [61]:
# - 변경 : 내림차순 ascending = False

dictFD2 = dictFD1.sort_index(ascending=False)
print(dictFD2)

     c5  c1  c3   c0   c2
r05  11  40  75  523  132
r02  13  60  95  321  152
r01  12  50  85  553  142

In [62]:
# - 인덱스 변경 => df.index = [새로운 인덱스]

dictFD1.index = ['A1','B1','Z1']

dictFD1

    c5  c1  c3   c0   c2
A1  11  40  75  523  132
B1  12  50  85  553  142
Z1  13  60  95  321  152

In [63]:
# - 오름 차순 정렬 : 작은 값 >>> 큰 값
# - 대문자 A 65, Z 91, a 97
dictFD1.sort_index()

    c5  c1  c3   c0   c2
A1  11  40  75  523  132
B1  12  50  85  553  142
Z1  13  60  95  321  152

In [64]:
# - 대문자 A 65, Z 91, a 97
# => lamdba 에게 전달 : 'A1', 'Z1', 'a1' => 소문자 변경 후 정렬
dictFD1.sort_index(key= lambda label: label.str.lower())
dictFD1

    c5  c1  c3   c0   c2
A1  11  40  75  523  132
B1  12  50  85  553  142
Z1  13  60  95  321  152

In [65]:
# - 대문자 A 65, Z 91, a 97
# => lamdba 에게 전달 : 'A1', 'Z1', 'a1' => 대문자 변경 후 정렬
dictFD1.sort_index(ascending=False ,key= lambda label: label.str.upper())

    c5  c1  c3   c0   c2
Z1  13  60  95  321  152
B1  12  50  85  553  142
A1  11  40  75  523  132

In [66]:
# [문] 컬럼 이름 정렬 => 내림 차순으로
dictFD1.sort_index(ascending=False , axis=1)

    c5  c3   c2  c1   c0
A1  11  75  132  40  523
B1  12  85  142  50  553
Z1  13  95  152  60  321

In [67]:
dictFD1.T
dictFD1.sort_index(ascending=False).T

     Z1   B1   A1
c5   13   12   11
c1   60   50   40
c3   95   85   75
c0  321  553  523
c2  152  142  132

[4] 정렬 - 값 기준 <hr>

In [69]:
# 값으로 정렬 => sort_values()

dictFD1.sort_values(by='c0')

    c5  c1  c3   c0   c2
Z1  13  60  95  321  152
A1  11  40  75  523  132
B1  12  50  85  553  142

In [72]:
# - 2개 컬럼 기준으로 값 정렬
dictFD1.sort_values(by=['c3','c5'])

#  행 값을 정렬 => axis = 1 이 되야된다. 
dictFD1.sort_values(by='A1', axis=1)

    c5  c1  c3   c2   c0
A1  11  40  75  132  523
B1  12  50  85  142  553
Z1  13  60  95  152  321