[DataFrame 연산]

[1]  모듈 로딩 및 데이터 준빈 <hr>

In [30]:
# [1-1] 데이터 로딩
import pandas as pd     # 데이터 분석 모듈
import numpy as np      # NAN 상수 관련 모듈

In [31]:
## [1-2] 데이터 준비

data = {'국어':[90,75,50],
        '영어':[100,65,99],
        '수학':[80,75,93]}

[2] 데이터 로딩 및 확인 <hr>

In [32]:
# 데이타프레임 객체 생성

df1 = pd.DataFrame(data)
df1

   국어   영어  수학
0  90  100  80
1  75   65  75
2  50   99  93

[3] Series 데이터 다루기 <hr>

In [33]:
## [3-1] 정렬하기

# 오름차순
df1.sort_index()

# 내림차순 정렬
df1.sort_index(ascending=False)

   국어   영어  수학
2  50   99  93
1  75   65  75
0  90  100  80

In [10]:
## [3-2] 연산하기
## [3-2-1] 연산기호 -산술 연산자

print( df1 + 7)
print( df1 - 7)
print( df1 * 7)
print( df1 / 7)
print( df1 // 7)
print( df1 % 7)

국어     97
영어    107
수학     87
dtype: int64
국어    83
영어    93
수학    73
dtype: int64
국어    630
영어    700
수학    560
dtype: int64
국어    12.857143
영어    14.285714
수학    11.428571
dtype: float64
국어    12
영어    14
수학    11
dtype: int64
국어    6
영어    2
수학    3
dtype: int64

In [23]:
## [3-2-2] 비교연산자 => bool

print( df1 == 7)

      국어     영어     수학
0  False  False  False
1  False  False  False
2  False  False  False

In [12]:
## [3-2-3] Series

sr2 = pd.Series([7,77,777], index=['국어','수학','영어'])
sr3 = pd.Series([5,np.nan,77], index=['국어','수학','영어'])

print(df1 + sr2)
print(df1 + sr3)

국어     97
수학    157
영어    877
dtype: int64
국어     95.0
수학      NaN
영어    177.0
dtype: float64

In [13]:
## [3-2-4] 연산관련 메서드 => 빈칸 즉, NaN ( nan, NAN) 존재시 연산 수행
# - fill_value 매개변수 : 빈칸 즉, NaN(nan, NAN)에 채워질 값
print(df1.add(sr3, fill_value=-1))
print(df1.sub(sr3, fill_value=-1))
print(df1.mul(sr3, fill_value=-1))
print(df1.div(sr3, fill_value=0))

국어     95.0
수학     79.0
영어    177.0
dtype: float64
국어    85.0
수학    81.0
영어    23.0
dtype: float64
국어     450.0
수학     -80.0
영어    7700.0
dtype: float64
국어    18.000000
수학          inf
영어     1.298701
dtype: float64

In [35]:
# [3-2-3] 연산기호 - DataFrame
## => np.nan : 결측치 , Missing Value 

data2 = {'국어':[40,np.nan,50],
        '영어':[32,35,99],
        '수학':[30,25,np.nan]}
df3 = pd.DataFrame(data2)

print(df1 + df3)
print(df1 + df3)

      국어   영어     수학
0  130.0  132  110.0
1    NaN  100  100.0
2  100.0  198    NaN
      국어   영어     수학
0  130.0  132  110.0
1    NaN  100  100.0
2  100.0  198    NaN

In [39]:
print(df1.add(df3, fill_value=5))
print(df1.sub(df3, fill_value=5))
print(df1.mul(df3, fill_value=5))
print(df1.div(df3, fill_value=5))

      국어   영어     수학
0  130.0  132  110.0
1   80.0  100  100.0
2  100.0  198   98.0
     국어  영어    수학
0  50.0  68  50.0
1  70.0  30  50.0
2   0.0   0  88.0
       국어    영어      수학
0  3600.0  3200  2400.0
1   375.0  2275  1875.0
2  2500.0  9801   465.0
      국어        영어         수학
0   2.25  3.125000   2.666667
1  15.00  1.857143   3.000000
2   1.00  1.000000  18.600000