[DataFramed 의 인덱스 다루기]

[1] 모듈 로딩 및 데이터 준비 <hr>

In [34]:
# [1-1] 모듈 로딩
import pandas as pd

In [35]:
# [1-2] 데이터 준비
File1 = '../DATA/member.csv'

[2] 데이터 로딩 및 확인 <hr>

In [36]:
# [2-1] 데이터 로딩
df1 = pd.read_csv(File1)
df1

   번호   이름  나이  지역
0   1  홍길동  20  대구
1   2  이나영  12  서울
2   3  최희진  22  마산
3   4  마징가  31  부산
4   5  박지민  17  대구
5   6  김나나  25  서울
6   7  박서희  33  광주

[3] 인덱스 다루기 <hr>

In [37]:
# [3-1] 인데스 <-> 컬럼:  인덱스 -> 컬럼, 컬럼-> 인덱스 전치(Traspose)
# - 메서드 : transpose()    -속성 : T
df1.transpose()
df1.T

      0    1    2    3    4    5    6
번호    1    2    3    4    5    6    7
이름  홍길동  이나영  최희진  마징가  박지민  김나나  박서희
나이   20   12   22   31   17   25   33
지역   대구   서울   마산   부산   대구   서울   광주

In [38]:
## [3-2] 컬럼을 행 인덱스 설정하기 
## => 조건 : 컬럼 데이터로 한 행의 데이터 추출 가능하는 컬럼
## => 매서드 :  set_index( 컬럼명), set_index([컬럼명1, 컬럼명2...])

df2 = df1.set_index('이름')

df2

     번호  나이  지역
이름
홍길동   1  20  대구
이나영   2  12  서울
최희진   3  22  마산
마징가   4  31  부산
박지민   5  17  대구
김나나   6  25  서울
박서희   7  33  광주

In [39]:
## - 컬럼, 인덱스 속성

print(df2.columns)
print(df2.index)

Index(['번호', '나이', '지역'], dtype='object')
Index(['홍길동', '이나영', '최희진', '마징가', '박지민', '김나나', '박서희'], dtype='object', name='이름')

In [40]:
# - 행 선택 : index 
# - 이나영, 박지민 행 선택
df22 = df2.loc[['이나영','박지민']]
print(type(df22))

df21 = df2.loc['박서희']

print(type(df21))

df21 = df2.loc[['박서희']]
print(type(df21))


# - 홍길동 부터 마징가 까지 행 선택
df24 = df2.loc['홍길동':'마징가']
# 슬라이싱 할때는 [] 가 없어야된다.

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>