[DataFrame 에 인덱스 reset]

In [1]:
# [1-1] 모듈 로딩

import pandas as pd                 # 데이터 분석용 모듈
import numpy as np                  # NaN 빈칸 의미 상수 사용 위해서

In [3]:
dict_data = {'c0':[1,2,3],
             'c1':[4,5,6],
             'c2':[7,8,9],
             'c3':[10,11,12],
             'c4':[13,14,15]}

dictFD1 = pd.DataFrame(dict_data)

[2] 데이터 로딩 및 확인<hr>

In [6]:
dictFD1 = pd.DataFrame(dict_data, index=['r0','r1','r2'])
dictFD1

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

[3] 인덱스 제어  <hr>

In [8]:
# [3-1] 인덱스 리셋
#  -기존 행 인덱스 => 컬럼으로 이동

dictFD2 = dictFD1.reset_index()

print(dictFD2)

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

In [15]:
# - 기존행 인덱스 => drop = True 설정 => 컬럼으로 이동 X
dictFD2=dictFD1.reset_index(drop=True)
dictFD2

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

[DataFrame에서 인덱스 관련 제어]

- 인덱스 정수 인덱스 초기화 메서드 => reset_index() / reset_index(drop =True )
                                    기존 인덱스를 컬럼 추가 / 컬럼 추가 X


- 인데스를 새롭게 설정하는 메서드 => reindex( axis=0, fill_value=(채울값))
                                             존재하지 않는 인덱스 추가
                                   reindex( index=[] , fill_value=(채울값))
                                   reindex( columns=[] , fill_value=(채울값))

- 컬럼을 인덱스 설정하는 메서드 => set_index([ 컬럼 ])