[DataFrame 의 인덱스 다루기]

[1] 모듈 로딩 및 데이터 준비 <hr>

In [19]:
# [1-1] 모듈 준비
import pandas as pd     # 데이터 분석용 모듈
import utills           # 사용자 정의 모듈

In [20]:
# 딕셔너리를 정의

dict_data = {'c0':[1,2,3],
             'c1':[4,5,6],
             'c2':[7,8,9],
             'c3':[10,11,12],
             'c4':[13,14,15]}

df = pd.DataFrame(dict_data, index=['r0','r1','r2'])

print(df)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

[2] 데이터 로딩 및 확인 <hr>

In [21]:
# [2-1] 데이터 로딩 => data 기반 DataFrame 생성

df1 = pd.DataFrame(dict_data, index=['one','two','tree'])
print(type(df1))

<class 'pandas.core.frame.DataFrame'>

In [22]:

utills.summary(df1,'df1')
utills.print_attribute(df1, 'df1')

df1
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, one to tree
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c0      3 non-null      int64
 1   c1      3 non-null      int64
 2   c2      3 non-null      int64
 3   c3      3 non-null      int64
 4   c4      3 non-null      int64
dtypes: int64(5)
memory usage: 144.0+ bytes
     c0  c1  c2  c3  c4
one   1   4   7  10  13
two   2   5   8  11  14

      c0  c1  c2  c3  c4
two    2   5   8  11  14
tree   3   6   9  12  15
        c0   c1   c2    c3    c4
count  3.0  3.0  3.0   3.0   3.0
mean   2.0  5.0  8.0  11.0  14.0
std    1.0  1.0  1.0   1.0   1.0
min    1.0  4.0  7.0  10.0  13.0
25%    1.5  4.5  7.5  10.5  13.5
50%    2.0  5.0  8.0  11.0  14.0
75%    2.5  5.5  8.5  11.5  14.5
max    3.0  6.0  9.0  12.0  15.0
데이터 이름 df1
타입 출력 c0    int64
c1    int64
c2    int64
c3    int64
c4    int64
dtype: object
컬럼 출력 Index(['c0', 'c1', 'c2', 'c3', 'c4'], dtype='object')
인덱스 출력 Index(['one', 'two', 'tree'], dtype='object')
차원 출력 2
(행,열) 출력 (3, 5)
데이터출력
 [[ 1  4  7 10 13]
 [ 2  5  8 11 14]
 [ 3  6  9 12 15]]

[3] 인덱스 재설정 <hr>

In [23]:
# [3-1] 인덱스 변경 

new_index = ['one','two','tree','four']
ndf1 = df1.reindex(new_index)
print(ndf1)

       c0   c1   c2    c3    c4
one   1.0  4.0  7.0  10.0  13.0
two   2.0  5.0  8.0  11.0  14.0
tree  3.0  6.0  9.0  12.0  15.0
four  NaN  NaN  NaN   NaN   NaN

In [24]:
# reindex 로 발생한 Nan 값을 숫자 0으로 채우기
# - axis 매개변수 : [기본값]0 , 'index' / 1, 'columns'
ndf1 = df1.reindex(new_index, fill_value=0)
ndf1
#[3-2] 컬럼을 'one','two','three','four' 변경

ndf2 = df1.reindex(new_index, fill_value=0, axis=1)

print(ndf2)

      one  two  tree  four
one     0    0     0     0
two     0    0     0     0
tree    0    0     0     0

In [25]:
# [3-3] 컬럼을 c0 c1 c2 c3 c4 => c0 c1 c2 c5

df23 = df.reindex(columns=['c0', 'c1', 'c2', 'c5'])
df23

    c0  c1  c2  c5
r0   1   4   7 NaN
r1   2   5   8 NaN
r2   3   6   9 NaN

In [26]:
# [3-4] 인덱스를 one two three ==> one first two second three

df23 = df1.reindex(index=['one', 'first' ,'two' ,'second', 'three'], fill_value='None')
df23

          c0    c1    c2    c3    c4
one        1     4     7    10    13
first   None  None  None  None  None
two        2     5     8    11    14
second  None  None  None  None  None
three   None  None  None  None  None

- 연속된 데이터 인덱스의 reindex

In [27]:
date_index = pd.date_range('1/1/2020', periods=6, freq='D')
date_index

import numpy as np

df2 = pd.DataFrame({'prices' :[100,101,np.nan,100,89,88] }, index=date_index)

date_index2 = pd.date_range('25/12/2019', periods=10, freq='D')

df2 =df2.reindex(date_index2, method='ffill')
df2

            prices
2019-12-25     NaN
2019-12-26     NaN
2019-12-27     NaN
2019-12-28     NaN
2019-12-29     NaN
2019-12-30     NaN
2019-12-31     NaN
2020-01-01   100.0
2020-01-02   101.0
2020-01-03     NaN