[Series 연산]

[1]  모듈 로딩 및 데이터 준빈 <hr>

In [1]:
# [1-1] 데이터 로딩
import pandas as pd     # 데이터 분석 모듈
import numpy as np      # NAN 상수 관련 모듈

In [2]:
## [1-2] 데이터 준비

data = {'국어':90,'영어':100,'수학':80}

[2] 데이터 로딩 및 확인 <hr>

In [4]:
# Series 객체 생성

sr1 = pd.Series(data)
sr1

국어     90
영어    100
수학     80
dtype: int64

In [10]:
# Series 객체 속성 => 1차원
# - 대표 속성 : index, ndim, shape, dtype, values

print('index', sr1.index)
print('ndim' , sr1.ndim)
print('shape', sr1.shape)
print('dtype', sr1.dtype)
print('values',sr1.values)

index Index(['국어', '영어', '수학'], dtype='object')
ndim 1
shape (3,)
dtype int64
values [ 90 100  80]

In [12]:
# Series 데이터 확인
sr1.info()

<class 'pandas.core.series.Series'>
Index: 3 entries, 국어 to 수학
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      int64
dtypes: int64(1)
memory usage: 156.0+ bytes

In [13]:
print(sr1.head(1), sr1.tail(1), sep="\n\n")

국어    90
dtype: int64

수학    80
dtype: int64

In [14]:
# 통계치 
sr1.describe()

count      3.0
mean      90.0
std       10.0
min       80.0
25%       85.0
50%       90.0
75%       95.0
max      100.0
dtype: float64

[3] Series 데이터 다루기 <hr>

In [16]:
## [3-1] 정렬하기

# 오름차순
sr1.sort_index()

# 내림차순 정렬
sr1.sort_index(ascending=False)

영어    100
수학     80
국어     90
dtype: int64

In [18]:
# 오름차순 정렬
sr1.sort_values()

# 내림차순 정렬
sr1.sort_values(ascending=False)

영어    100
국어     90
수학     80
dtype: int64

In [20]:
## [3-2] 연산하기
## [3-2-1] 연산기호 -산술 연산자

print( sr1 + 7)
print( sr1 - 7)
print( sr1 * 7)
print( sr1 / 7)
print( sr1 // 7)
print( sr1 % 7)

국어     97
영어    107
수학     87
dtype: int64
국어    83
영어    93
수학    73
dtype: int64
국어    630
영어    700
수학    560
dtype: int64
국어    12.857143
영어    14.285714
수학    11.428571
dtype: float64
국어    12
영어    14
수학    11
dtype: int64
국어    6
영어    2
수학    3
dtype: int64

In [21]:
## [3-2-2] 비교연산자 => bool

print( sr1 == 7)
print( sr1 != 7)
print( sr1 >= 7)
print( sr1 <= 7)

국어    False
영어    False
수학    False
dtype: bool
국어    True
영어    True
수학    True
dtype: bool

In [27]:
## [3-2-3] Series

sr2 = pd.Series([7,77,777], index=['국어','수학','영어'])
sr3 = pd.Series([5,np.nan,77], index=['국어','수학','영어'])

print(sr1 + sr2)
print(sr1 + sr3)

국어     97
수학    157
영어    877
dtype: int64
국어     95.0
수학      NaN
영어    177.0
dtype: float64

In [30]:
## [3-2-4] 연산관련 메서드 => 빈칸 즉, NaN ( nan, NAN) 존재시 연산 수행
# - fill_value 매개변수 : 빈칸 즉, NaN(nan, NAN)에 채워질 값
print(sr1.add(sr3, fill_value=-1))
print(sr1.sub(sr3, fill_value=-1))
print(sr1.mul(sr3, fill_value=-1))
print(sr1.div(sr3, fill_value=0))

국어     95.0
수학     79.0
영어    177.0
dtype: float64
국어    85.0
수학    81.0
영어    23.0
dtype: float64
국어     450.0
수학     -80.0
영어    7700.0
dtype: float64
국어    18.000000
수학          inf
영어     1.298701
dtype: float64