In [1]:
def get_sum(x,y):
	return x + y


print("정수의 합:", get_sum(10,20))

정수의 합: 30

In [2]:
sum = lambda a,b : a+b  # a + b 의 결과를 리턴 (sum 변수가 받음)
print(sum(3,7))

10

In [6]:
msg = 	"The health know not of their health, but only the sick"

sorted_list = sorted(msg.split(), key=str.lower)

print(sorted_list)

['but', 'health', 'health,', 'know', 'not', 'of', 'only', 'sick', 'The', 'the', 'their']

In [7]:
msg = 	"The health know not of	their health, but only the sick"

sorted_list = sorted(msg.split(), key=len , reverse=True)

print(sorted_list)

['health,', 'health', 'their', 'know', 'only', 'sick', 'The', 'not', 'but', 'the', 'of']

In [8]:
students = [('Alice',3.9, 20160306),
			('Bob',3.0,20160302),
			('Charlie',4.3,20160301)]

sorted_students1 = sorted(students, key = lambda s: s[2])
print(sorted_students1)

sorted_students2 = sorted(students, key= lambda s: s[1], reverse=True)
print(sorted_students2)

[('Charlie', 4.3, 20160301), ('Bob', 3.0, 20160302), ('Alice', 3.9, 20160306)]
[('Charlie', 4.3, 20160301), ('Alice', 3.9, 20160306), ('Bob', 3.0, 20160302)]

In [9]:
import pandas as pd
import numpy as np


df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['A','B'])
print(df)

   A  B
0  1  2
1  3  4
2  5  6

In [10]:
def plus_one(x):
	x = x+1
	return x

df['A'] = df['A'].apply(plus_one)
df['B'] = df['B'].apply(plus_one)

print(df)

   A  B
0  2  3
1  4  5
2  6  7

In [11]:
df = df.apply(plus_one)
df

   A  B
0  3  4
1  5  6
2  7  8

In [ ]:
df['A'] = df['A'].apply(lambda x : x +1 )
print(df)