In [83]:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from scipy import stats
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split  
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [84]:
boston = pd.read_csv('../Data/housing.csv')

boston

        CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0    0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...    ...      ...     ...    ...   ...
501  0.06263   0.0  11.93   0.0  0.573  ...  273.0     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93   0.0  0.573  ...  273.0     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [85]:
boston.columns[:-1]

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [86]:
boston.info()
# 피쳐와 타겟 분리
feature_df = boston[boston.columns[:-1]]
target_df = boston[boston.columns[-1]]

print(f'feature_df => {feature_df.ndim}D, ftarget_df,  {target_df.ndim}D')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     452 non-null    float64
dtypes: float64(13), int64(1)
memory usage: 55.5 KB
feature_df => 2D, ftarget_df,  1D

In [ ]:
# 학습 => 학습용 데이터셋 사용

# 데이터셋 분할 (학습: 80%, 테스트: 20%)
X_train, X_test, y_train, y_test = train_test_split(
    feature_df, target_df, test_size=0.2, random_state=10
)

y_train.fillna(y_train.mean(), inplace=True)
y_test.fillna(y_train.mean(), inplace=True)

# 모델 생성
model = KNeighborsRegressor(n_neighbors=10)

# 모델 학습
model.fit(X_train, y_train)  

# 예측 수행

y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error: {mae}")
print(y_pred)
rmse = np.sqrt(mse)
print(f"mse: {mse}")
print(f"mae: {mae}")
print(f"RMSE: {rmse}")

Mean Absolute Error: 4.882254901960784
[28.7       31.35      26.        24.88      23.6       13.87
 26.31      17.6       26.17      26.53      19.95      26.36
 33.31      27.47      28.41      32.97      24.42      26.48
 21.38      20.07      26.37      15.08      19.08      23.44
 26.59      23.67      18.98      14.94      31.86      23.0907563
 24.02      29.39      27.1       22.77      14.88      20.58
 23.0907563 38.16      21.19      24.09      24.17      23.1
 22.66      30.61      23.99      28.38      21.34      23.0907563
 27.74      20.02      20.25      13.19      30.1       23.39
 22.78      31.27      18.5       21.36      24.22      23.0907563
 18.08      17.98      24.94      32.95      24.04      17.6
 24.81      23.0907563 26.48      24.91      15.33      23.27
 21.15      24.56      19.95      24.77      29.66      23.0907563
 22.98      27.96      20.93      23.77      23.43      24.22
 23.25      22.78      22.66      27.1       23.82      23.0907563
 23.82      25.13      22.63      23.27      29.16      18.98
 25.78      23.11      22.97      22.83      23.58      16.86     ]
mse: 61.56699901960784
mae: 4.882254901960784
RMSE: 7.8464641093684895