[ Boolean Indecing 불린 인덱싱]

- True/False 값으로 구성된 Series
- True에 해당하는 행만 추출해냄 ==> 마치 인덱스의 기능을 한다고 해서 불린 인덱싱이라함
- 마스크(Mask), 윈도우(Window)라고 함

In [1]:
# [1-1] 모듈 로딩
import pandas as pd

In [3]:
# [1-2] 데이터 준비
data = '../DATA/member.csv'

memDf = pd.read_csv(data)

[2] 조건에 맞는 데이터 추출 <hr>

In [4]:
# [2-1] 나이가 20살 이상인 데이터 추출

memDf['나이']>=20

0     True
1    False
2     True
3     True
4    False
5     True
6     True
Name: 나이, dtype: bool

In [7]:
# [2-2] 나이가 20대만 데이터 추출
# 20대 : 20살 ~ 29살
# & 연산자 : 그리고
boolIDX = (memDf['나이']>=20) & (memDf['나이'] < 30)

memDf[boolIDX]

   번호   이름  나이  지역
0   1  홍길동  20  대구
2   3  최희진  22  마산
5   6  김나나  25  서울

In [11]:
# [2-3] 나이가 20대이면서 대구에 사는 사람만 추출


idx= boolIDX & (memDf['지역'] == '대구')

memDf[idx]

   번호   이름  나이  지역
0   1  홍길동  20  대구

In [13]:
# [2-4] 나이가 20대 이거나 대구에 사는 사람만 추출

idx= boolIDX | (memDf['지역'] == '대구')

memDf[idx]

   번호   이름  나이  지역
0   1  홍길동  20  대구
2   3  최희진  22  마산
4   5  박지민  17  대구
5   6  김나나  25  서울