[ Accessor 접근자]
- str, datafime 의 메서드에 접근할 수 있는 기능 제공
- Series의 모든 원소가 str 또는 datetime 일 경우 사용 가능함
* 방법 
* Series 변수명.str.문자열 관련 메서드
* Series 변수명.dt.데이트타임 관련 메서드

[1] 모듈 로딩 및 데이터 준비 <hr>

In [1]:
# [1-1] 모듈로딩
import pandas as pd
import numpy as np

In [2]:
# [1-2] 데이터 준비
dataDF = pd.DataFrame([['홍 길동',20,'학생','2010-10-15'],
                       ['베 트맨',12,'학생','2010-7-20'],
                       ['로 봇캅',30,'학생','2010-12-05'],
                       ['마 징가',22,'직장인','2011-12-24']])

dataDF

      0   1    2           3
0  홍 길동  20   학생  2010-10-15
1  베 트맨  12   학생   2010-7-20
2  로 봇캅  30   학생  2010-12-05
3  마 징가  22  직장인  2011-12-24

In [3]:
# [1-3] 데이터 확인

dataDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
 1   1       4 non-null      int64
 2   2       4 non-null      object
 3   3       4 non-null      object
dtypes: int64(1), object(3)
memory usage: 256.0+ bytes

In [4]:
# [2-1] str 엑세서

nameSR =dataDF[0]
nameSR

0    홍 길동
1    베 트맨
2    로 봇캅
3    마 징가
Name: 0, dtype: object

In [5]:
# nameSR.str => 문자열 메서드 사용 가능해짐
result = nameSR.str.split()
result[0][0]

'홍'

In [6]:
result = nameSR.str.split(expand=True)
result

   0   1
0  홍  길동
1  베  트맨
2  로  봇캅
3  마  징가

In [7]:
dataDF[3].str.split('-')

0    [2010, 10, 15]
1     [2010, 7, 20]
2    [2010, 12, 05]
3    [2011, 12, 24]
Name: 3, dtype: object

In [8]:
ymdDF = dataDF[3].str.split('-', expand=True)

ymdDF = ymdDF.astype('int')
ymdDF.dtypes

0    int32
1    int32
2    int32
dtype: object

In [9]:
ymdDF.groupby(by=0).groups

{2010: [0, 1, 2], 2011: [3]}

In [10]:
# [2-2] dt 엑세서
# object 타입 시간 데이터 저장 Series

s3 = pd.Series(['1/1/2020 10:00:00+00:00', '2/1/2020 11:00:00+00:00'])

# object 타입 ==> datetime64 형변화 후 저장 
s3 = pd.to_datetime(s3)

# object 타입 ==> datetime64 형변화 후 저장
s3.astype('datetime64[ns]')

TypeError: Cannot use .astype to convert from timezone-aware dtype to timezone-naive dtype. Use obj.tz_localize(None) or obj.tz_convert('UTC').tz_localize(None) instead.

In [60]:
print(s3.dt.date)
print(s3.dt.year)
print(s3.dt.month)
print(s3.dt.day_of_year, s3.dt.day_of_week)

0    2020-01-01
1    2020-02-01
dtype: object
0    2020
1    2020
dtype: int32
0    1
1    2
dtype: int32
0     1
1    32
dtype: int32 0    2
1    5
dtype: int32