[Pandas & Matplotlib - 표준화]

- 기본 자료형의 형변환
    * 실제 데이터와 타입 일치
    * 데이터 의미와 타입 일치
- 데이터 의미 형변환
    * 연속형/수치형 ==> 범주형
    * 범주형 ==> 수치형

[1] 모듈로딩 & 데이터 준비 <hr>

In [63]:
# [1-1] 모듈로딩
import pandas as pd

In [64]:
#[1-2] 데이터 준비비

D_FILE = '../DATA/auto_mpg.csv'

autoDF = pd.read_csv(D_FILE)

[2] 데이터 표준화 <hr>

In [65]:
# [2-1] 범주형 변환 함수 pandas.cut()

data = [1,7,5,4,6,3]        # => 1 ~ 7 

result = pd.cut(data ,3)
# - 3개 구간 분할 : (0.994, 3.0] < (3.0, 5.0]  < (5.0, 7.0]
# - 데이터가 속하는 구간으로 변경경
#  1 =>  (0.994, 3.0]
#  7 =>  (5.0, 7.0]
#  5 =>  (3.0, 5.0]
#  4 =>  (3.0, 5.0]
#  6 =>  (5.0, 7.0]
#  3 =>  (0.994, 3.0]
print(type(result))
print(result)

<class 'pandas.core.arrays.categorical.Categorical'>
[(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], (0.994, 3.0]]
Categories (3, interval[float64, right]): [(0.994, 3.0] < (3.0, 5.0] < (5.0, 7.0]]

In [66]:
result = pd.cut(data ,3, labels=['A','B','C'])
# - 3개 구간 분할 : (0.994, 3.0] < (3.0, 5.0]  < (5.0, 7.0]  => 'A' < 'B' < 'C'
# - 데이터가 속하는 구간으로 변경경
#  1 =>  (0.994, 3.0] 
#  7 =>  (5.0, 7.0] 
#  5 =>  (3.0, 5.0]
#  4 =>  (3.0, 5.0]
#  6 =>  (5.0, 7.0]
#  3 =>  (0.994, 3.0]
print(type(result))
print(result)

<class 'pandas.core.arrays.categorical.Categorical'>
['A', 'C', 'B', 'B', 'C', 'A']
Categories (3, object): ['A' < 'B' < 'C']

In [67]:
resul, bins= pd.cut(data ,3, retbins=True, right=False)
# - 3개 구간 분할 : (0.994, 3.0] < (3.0, 5.0]  < (5.0, 7.0]  => 'A' < 'B' < 'C'
# - 데이터가 속하는 구간으로 변경경
#  1 =>  (0.994, 3.0] 
#  7 =>  (5.0, 7.0] 
#  5 =>  (3.0, 5.0]
#  4 =>  (3.0, 5.0]
#  6 =>  (5.0, 7.0]
#  3 =>  (0.994, 3.0]
print(type(result))
print(result)
print(bins)

<class 'pandas.core.arrays.categorical.Categorical'>
['A', 'C', 'B', 'B', 'C', 'A']
Categories (3, object): ['A' < 'B' < 'C']
[1.    3.    5.    7.006]

In [68]:
# [2-2] auto_mpg 에서 horsepower 즉, 출력 연속형 ==> 범주형
# 라벨 => 저출력, 일반출력, 고출력

autoDF.horsepower  = autoDF.horsepower.replace('?', pd.NA)

In [69]:
# 고유값 설정
autoDF.horsepower.unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', <NA>, '100', '105', '175', '153', '180',
       '110', '72', '86', '70', '76', '65', '69', '60', '80', '54', '208',
       '155', '112', '92', '145', '137', '158', '167', '94', '107', '230',
       '49', '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [70]:
# 걸럼의 결측치 체크

autoDF.horsepower.isna().sum()

# 컬럼의 결측치 제거
autoDF.dropna(inplace=True)

In [71]:
# 타입변경
autoDF.horsepower   = autoDF.horsepower.astype('int')


# 형 확인
autoDF.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower        int32
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [72]:
# 연속형 => 범주형 : 3개의 카테고리 즉, 저출력, 일반출력, 고출력

power = pd.cut(autoDF.horsepower, bins=3, labels=['저출력','일반출력','고출력'])

In [74]:
# DF 컬럼 추가

autoDF['Power'] = power
autoDF.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,Power
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,일반출력
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,일반출력

In [76]:
# DF 컬럼 오버라이팅
autoDF['horsepower'] = power
autoDF

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,Power
0,18.0,8,307.0,일반출력,3504,12.0,70,1,chevrolet chevelle malibu,일반출력
1,15.0,8,350.0,일반출력,3693,11.5,70,1,buick skylark 320,일반출력
2,18.0,8,318.0,일반출력,3436,11.0,70,1,plymouth satellite,일반출력
3,16.0,8,304.0,일반출력,3433,12.0,70,1,amc rebel sst,일반출력
4,17.0,8,302.0,일반출력,3449,10.5,70,1,ford torino,일반출력
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,저출력,2790,15.6,82,1,ford mustang gl,저출력
394,44.0,4,97.0,저출력,2130,24.6,82,2,vw pickup,저출력
395,32.0,4,135.0,저출력,2295,11.6,82,1,dodge rampage,저출력
396,28.0,4,120.0,저출력,2625,18.6,82,1,ford ranger,저출력
397,31.0,4,119.0,저출력,2720,19.4,82,1,chevy s-10,저출력